*.DS_Store
*.exe
*.mod
*.smod
*/mx_out
# Executables
*.exe
*.out
*.app
*/mx
*.sh
*_
*.cmake
*.marks
*.make
*.txt
*.o
*/Information
*.q
*.x
*.pc
*.csv
tests/matrix/build/*
cfd_mx/build/*
.idea/*
.vscode/*